BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 6
TabWidth: 4
UseTab: Never

ColumnLimit: 120

InsertBraces: true

ConstructorInitializerIndentWidth: 8

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^./>]+>$'
    Priority: 10
  - Regex: '.*'
    Priority: 20
