BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 6
TabWidth: 4
UseTab: Never

ColumnLimit: 120

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: NextLineOnly

ReferenceAlignment: Left

BreakTemplateDeclarations: Yes

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^./>]+>$'
    Priority: 10
  - Regex: '.*'
    Priority: 20
